/**
 * Fonts
 */

@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i&display=swap");

/**
 * TailwindCSS
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Vue
 */

[v-cloak] > * {
    display: none;
}

[v-cloak]::before {
    content: "Loading...";
}

/**
 * Fixed Header
 */
.vue-fixed-header {
    position: relative;
}

.vue-fixed-header--isFixed {
    width: 100vw;
    @apply pt-6;
    @apply pb-3;
    @apply mt-0;
    @apply mb-0;
    @apply bg-secondary;
    @apply fixed;
    @apply top-0;
    @apply left-0;
    @apply right-0;
    z-index: 10;
    opacity: 0.95;

    .logo-title {
        @apply text-lg;
    }

    .logo-link {
        @apply hidden;
    }
}

/**
 * Dark Mode
 */
@media (prefers-color-scheme: dark) {
    img {
        opacity: 0.75;
        transition: opacity 0.5s ease-in-out;
    }

    img:hover {
        opacity: 1;
    }
}

/**
 * Card Grid
 */

.grid {
    @apply flex flex-col;

    .grit-item {
        @apply my-2;
    }
}

@screen md {
    .grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: theme("padding.4");

        .grid-item {
            min-height: 250px;
        }
    }
}

.grid-item-container {
    background-color: #000000c4;
    z-index: 10;

    .grid-item {
        margin-top: 5%;
    }
}
